@model FluidFrame.Models.ViewModels.ShoppingCartViewModel

<form method="post">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class=" row container">
					<div class="col-6">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						Campaign Summary
					</div>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Billing Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Name</label>
								</div>
								<div class="col-9">
									<input asp-for="Campaign.Name" class="form-control" />
                                    <span asp-validation-for="Campaign.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone</label>
								</div>
								<div class="col-9">
									<input asp-for="Campaign.Phone" class="form-control" />
                                    <span asp-validation-for="Campaign.Phone" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street</label>
								</div>
								<div class="col-9">
									<input asp-for="Campaign.Street" class="form-control" />
                                    <span asp-validation-for="Campaign.Street" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input asp-for="Campaign.City" class="form-control" />
                                    <span asp-validation-for="Campaign.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code</label>
								</div>
								<div class="col-9">
									<input asp-for="Campaign.PostalCode" class="form-control" />
                                    <span asp-validation-for="Campaign.PostalCode" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Campaign Summary:</span>
							</h4>
							<ul class="list-group mb-3">

								@foreach (var frameBooked in Model.CartItemsList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@frameBooked.Frame.ModelName</h6>
                                            <small class="text-muted">Days Booked: @frameBooked.Count</small>
                                        </div>
                                        <span class="text-muted">@((frameBooked.Price * frameBooked.Count).ToString("c")) </span>
                                    </li>
                                }

								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Campaign Start Date: </small>
									<input asp-for="Campaign.StartDate" class="form-control" hidden/>
                                    <strong class="text-info">@Model.Campaign.StartDate.ToShortDateString()</strong>
								</li>
								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Campaign End Date: </small>
									<input asp-for="Campaign.EndDate" class="form-control" hidden/>
                                    <strong class="text-info">@Model.Campaign.EndDate.ToShortDateString()</strong>
								</li>

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (USD)</small>
                                    <strong class="text-info">@Model.Campaign.CampaignTotal.ToString("c")</strong>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Start Campaign" class="btn btn-primary form-control">Start Campaign</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
